DATABASE_URL="postgresql://neondb_owner:npg_Tz6y0kYVKPfA@ep-late-darkness-aiwco8sk-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""


RESEND_API_KEY=re_GaFQBYUm_LpD6gNviihXwm3xh58cX8V1q
RESEND_FROM="AnmolGadgets <alerts@anmolgadgets.store>"
Admin_Mail="admin@anmolgadgets.com"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"
